<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Register Person</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.css"  media="screen,projection"/>
</head>
<body>
	Register Person
	<form action="/savePerson" method="post" th:object="${personobj}">
		<label>ID</label>
		<input name="id" th:field="*{id}" readonly="readonly">
		
		<label>Name</label>
		<input name="name" th:field="*{name}">
		
		<label>Last Name</label>
		<input name="LastName" th:field="*{lastName}">
		<input type="submit" value="Save">
	</form>
	
	<a href="/listPeople">List People</a>
	
	<table>
		<tr th:each = "person : ${people}">
		<td th:text = "${person.id}"></td>
		<td th:text = "${person.name}"></td>
		<td th:text = "${person.lastName}"></td>
		<td><a th:href="@{/editPerson/{idPerson}(idPerson=${person.id})}">Edit</a></td>
		<td><a th:href="@{/deletePerson/{idPerson}(idPerson=${person.id})}">Delete</a></td>
		</tr>
	</table>
	<script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
	<script type="text/javascript" src="/materialize/js/materialize.js"></script>
</body>
</html>