<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Register Person</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.css"  media="screen,projection"/>
<style type="text/css">
table.striped>tbody>tr:nth-child(odd) {
	background-color: rgba(158, 154, 154, 0.5);
}

form input[type=submit] {
	color: white;
}
</style>

</head>
<body>
	<h5>Register Person</h5>
	<div class="row">
	<form action="/savePerson" id="formPerson" method="post" th:object="${personobj}" class="col s12">

			<div class="row">
				<div class="input-field col s6">
					<label for="id" class="active">ID</label> 
					<input name="id" class="validate" th:field="*{id}" id="id"
						readonly="readonly">
				</div>
				<div class="input-field col s6">
					<label for="name" class="active">Name</label> 
					<input name="name" class="validate" th:field="*{name}" id="name">
				</div>
			</div>

			<div class="row">
				<div class="input-field col s12">
					<label for="lastName" class="active">Last Name</label> 
					<input name="LastName" class="validate" th:field="*{lastName}" id="lastName">
				</div>
			</div>
			<div class="row">
			<div class="input-field col s12">
				<input class="waves-effect waves-light btn" type="submit" value="Save">
				<button class="waves-effect waves-light btn" onclick="document.getElementById('formPerson').reset();">Clear Fields</button>
			</div>
			</div>
		</form>
	</div>
	</br>
	</br>

	<div class="row">
		<form action="searchPerson" method="post" class="col s12">
			<div class="row">
				<div class="input-field col s12">
					<label for="nameSearch" class="active">Search by Name:</label> 
					<input name="nameSearch" id="nameSearch" class="validate"> 
					<input class="waves-effect waves-light btn" type="submit" value="Search">
					<a class="waves-effect waves-light btn" href="/listPeople">List People</a>
				</div>
			</div>
		</form>
	</div>

	</br>
	</br>
	
	
	<table class="striped">
	<thead>
	<tr>
	<td>ID</td>
	<td>Name</td>
	<td>Last Name</td>
	<td>Edit</td>
	<td>Delete</td>
	</tr>
	</thead>
		<tr th:each = "person : ${people}">
		<td th:text = "${person.id}"></td>
		<td th:text = "${person.name}"></td>
		<td th:text = "${person.lastName}"></td>
		<td><a th:href="@{/editPerson/{idPerson}(idPerson=${person.id})}">Edit</a></td>
		<td><a th:href="@{/deletePerson/{idPerson}(idPerson=${person.id})}">Delete</a></td>
		</tr>
	</table>
	<script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
	<script type="text/javascript" src="/materialize/js/materialize.js"></script>
</body>
</html>